# Logs
*.log

# System files
.DS_Store
Thumbs.db

# Environment files
.env
.env.backup
.env.production

# PHP Tools
.phpactor.json
.phpunit.result.cache
.phpunit.cache

# IDEs and editors
/.idea
/.vscode
/.fleet
/.zed
/.nova

# Composer
/vendor
/auth.json

# Node
/node_modules

# Laravel specific
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail

# Homestead
Homestead.json
Homestead.yaml
